[submodule "emaily-server"]
	path = emaily-server
	url = https://github.com/zeyadetman/emaily-server.git
[submodule "emaily-client"]
	path = emaily-client
	url = https://github.com/zeyadetman/emaily-client
